.c1{
    background-color: #011526;
}
.c2{
    background-color: #254559;
}
.c3{
    background-color: #6D90A6;
}
.c4{
    background-color: #A9C6D9;
}
.c5{
    background-color: #fff;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/* classses for applying flex property */
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:480px){
    .page{
        display: block;
    }
    #header{
        z-index: 2;
        width: 100%;
        position: sticky;
        top: 0px;
        border-radius: 0px 0px 3px 3px;
        box-shadow: 0px 0px 10px #a1c0dc;
        padding-top: 10px;
        background-image: linear-gradient(to right, pink, skyblue, rgb(219, 219, 113));
    }
    #middle{
        display: flex; flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        a{
            /* padding: 5px; */
            margin: 8px 22px;
        }
    }
}


@media screen and (min-width:481px){
    .page{
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
    #header{
        flex-direction: column;
        left: 0px;
        width: 100%;
        height:100vh;
        margin: 5px;
        z-index: 2;
    }
    #middle{
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & a{
        margin: 10px;
    }
    }
    
}
a{
    cursor:pointer;
}
/* Header icon hover effect */
#middle>a:hover{
    transform: scale(1.15);
    animation: rotate 0.7s alternate 0.5s;
}
@keyframes rotate {
    0%{
        transform: rotate(-7deg) translate(-3px);
    }
    20%{
        transform: rotate(2deg) translate(1px);
    }
    40%{
        transform: rotate(-8deg) translate(-4px);
    }
    60%{
        transform: rotate(7deg) translate(3px);
    }
    80%{
        transform: rotate(-7deg) translate(-3px);
    }
    100%{
        transform: rotate(0deg) translate(0px);
    }
}

#socialLink>a{
    margin: 7px;
    &:hover{
        transform: scale(1.2);
    }
    img{
        height: 30px;
        width: 30px;
    }
}

img.icons{
    height: 40px;
    width: 40px;
    opacity: 0.75;
    &:hover,&:active{
        opacity: 1;
    }
}
.description{
    margin: 7px auto 2px;
    font-size: 20px;
}

.main{
    grid-column: 3/12;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
       
}

#profile{   
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin: 3px; padding: 10px;

    }
    #profileIntro{
        flex-direction: column;
        flex: 1 1 350px;
        #greet{
            font-size: 40px;
            text-align: center;
        }
        #tag ul{
           line-height: 30px;
            height: 30px;
            margin: 0px;
            overflow: hidden;
        }
        #tag li{
            list-style: none;
            position: relative;
            top: 0px;
            animation: slide 12s steps(4) infinite;
            &:after{
                position: absolute;
                content: "_";
                left: 0px;
                background-color: white;
                /* border-left: 4px solid black; */
                height: 100%;
                width: 100%;
                animation: typing 3s steps(16) infinite;
            }
        }
        p{
            padding: 10px;
            margin: 10px;
        }
        #resume{
            margin: 15px;
            padding: 7px 12px;
        }
    }
    #profilePhoto{
        flex: 1 1 180px;
        img{
            flex: 1 1 150px;
            max-width: 70%;
        }
    }
}
@keyframes slide{
    from{
        top: 0px;
    }to{
        top: -120px;
    }
}
@keyframes typing {
    from{
        left:0px;
    }to{
        left: 100%;
    }
}
@keyframes slide-left {
    0%{
        width: 200px;
    }
    100%{
        width: 0px;
    }
}
/* Certificates section CSS here */
#certificates{
    

}
.certStackImg{
        border-radius: 5px;
        margin: 3px;
        width: 100%;
        height: auto;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 210px;
    padding: 8px;
    margin: 13px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #ddd;
    border: 1px solid #ddd;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 5px #ccc;
        transition: 0.5s;
    }
}

/* skills section CSS here */
#techStack{
    img{
        margin: 15px;
        height: 60px;
        width: 60px;
        filter: blur(0.2px) brightness(95%) drop-shadow(0px 0px 2px #666);
        &:hover{
            transform: scale(1.15);
            filter: blur(0px) brightness(105%) drop-shadow(0px 0px 5px #333);
            transition: 0.3s;
        }
    }
}

